# Dependency directories
node_modules/
.pnp/
.pnp.js

# Next.js build output
.next/
out/
build/

# Vercel
.vercel

# TypeScript build output
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# Temporary files
*.tmp
*.bak
*.swp
*~
.~lock.*#

# Backup files
*.backup

# Compiled binary files
*.class
*.dll
*.exe
*.o
*.so

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store
Thumbs.db
